* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .result {
    display: flex;
    border-color: black;
    border-width: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 400px;
    width: 100vw;
    background-color: #0D0630;
    color: #223843;
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #F0F4F7;
    text-align: center;
    line-height: 1.5;
    max-width: 80%;
    word-wrap: break-word;
  }
  
  