.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #f0f4f7;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: #6697a6;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.spinning-logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}

.spinning-logo:hover {
  transform: scale(1.2);
}